.Header{
  line-height: 0 !important;
  background-color: rgb(255, 255, 255) !important;
  padding: 10px 10px !important;
}

.searchInput{
  width: 90%;
  border: none;
  background-color: rgb(240, 242, 245);
}

.filterBTN{
  float: right;
  padding: 0;
  text-decoration: none;
}

.filterICN{
  width: 20px;
  height: 20px;
}

.divider{
  margin-top: 10px;
  width: 100px;
}