.avatarBTN{
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}

.siderHeaderRBTN{
  background-color: transparent;
  padding: 0;
  margin: 0;
  float: right;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}

.siderChatSearchBTN{
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.siderHeaderIMG{
  border-radius: 50%;
  border: 0;
  appearance: none;
}

.iconChatIMG{
  border: 0;
  appearance: none;
}

.siderChatSearch{
  background: #f0f2f5 !important;
  border: none;
  outline: none;
  float: left;
  width: 90%;
}

.prefixSearch{
  margin-top: 3px;
  border: none;
  background: #f0f2f5;

}

.siderDivider{
  margin: 0;
}